.commands {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 2px;
}

::deep .three-column {
  grid-column: span 3;
}

::deep .four-column {
  grid-column: span 4;
}

::deep .macro {
  grid-column: span 2;
}
