<div class="dro">
    <div class="heading">Axis</div>
    <div class="heading">Machine Position</div>
    <div class="heading">Work Position</div>
    <div>X
        <div>
            @State?.Units
        </div>
    </div>
    <div>@State?.Status?.Mpos.X</div>
    <div>@State?.Status?.Wpos.X</div>
    <div>Y
        <div>
            @State?.Units
        </div>
    </div>
    <div>@State?.Status?.Mpos.Y</div>
    <div>@State?.Status?.Wpos.Y</div>
    <div>Z
        <div>
            @State?.Units
        </div>
    </div>
    <div>@State?.Status?.Mpos.Z</div>
    <div>@State?.Status?.Wpos.Z</div>
</div>

