.sender{
    display:grid;
    grid-template-columns:auto 1fr 1fr;
    align-items:center;
    grid-gap:5px;
    >div:last-child{
        display:grid;
        grid-template-columns: auto 1fr auto;
        grid-gap:5px;
    }
}