@page "/"

@if (ShowPorts || Controller is null)
{
    <Ports></Ports>
}
else
{
    <div class="main">
        <div>
            <InfoBar ControllerState="ControllerState" Controller="Controller"></InfoBar>
        </div>
        <Dro ControllerState="ControllerState" MachineUnits="MachineUnits"></Dro>
        <Jogger ControllerState="ControllerState" Controller="Controller" Jogging="Jogging" Feedrate="Feedrate"></Jogger>
        <div></div>
        <Commands Jogging="Jogging" ControllerState="ControllerState" Controller="Controller" Feedrate="Feedrate"></Commands>
        <div style="background: green"></div>
    </div>
}