@page "/"

@if (ShowPorts || Controller is null)
{
    <Ports></Ports>
}
else
{
    <div class="main">
        <div class="info">
            @Controller?.ControllerType : @Controller?.Port : <span class="activ-state @ControllerState?.State?.Status?.ActiveState">@ControllerState?.State?.Status?.ActiveState</span>
            
            
        </div>
        <Dro ControllerState="ControllerState" MachineUnits="MachineUnits"></Dro>
        <Jogger ControllerState="ControllerState" Controller="Controller" Jogging="Jogging"></Jogger>
        <div></div>
        <Commands Jogging="Jogging" ControllerState="ControllerState" Controller="Controller"></Commands>
    </div>
}