@page "/"

<Loading IsLoading="Loading">
    @if (!Client.Connected)
    {
        <div class="connect">
            <MudButton Variant="Variant.Filled" OnClick="Connect">Connect</MudButton>
        </div>
    }
    else if (!Client.ControllerModule.ControllerConnected)
    {
        <Ports></Ports>
    }
    else
    {
        <div class="main">
            <div>
                <InfoBar></InfoBar>
            </div>
            <Dro></Dro>
            <Jogger Jogging="Jogging" Feedrate="Feedrate"></Jogger>
            <ToolpathViewer></ToolpathViewer>
            <Commands Jogging="Jogging" Feedrate="Feedrate"></Commands>
            <div>
                <Sender></Sender>
            </div>
        </div>
    }
</Loading>
